* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  padding-top: 112px;
}

header .container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 99999;
  width: 100%;
  height: 112px;
  background-color: white;
}

header .box-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .menu {
  background-color: black;
  display: none;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

header nav {
  width: 40%;
  display: flex;
  justify-content: center;
}

header .list-menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  transition: 1s all;
}

header .list-menu a {
  color: black;
  font-size: 1.2em;
  font-weight: lighter;
}

header .list-menu a:hover {
  font-weight: 800;
}

header .box-bottom {
  background-image: url(img/laranja-azul.png);
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 100%;
  height: 640px;
}

header h2 {
  position: absolute;
  top: 350px;
  left: 8%;
  font-size: 4.8em;
  color: white;
}

header button {
  position: absolute;
  top: 490px;
  left: 8%;
  font-size: 2.1em;
  font-weight: lighter;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 90px;
}

main .box-line1 {
  display: flex;
  justify-content: space-evenly;
  width: 98%;
}

main .box-line2 {
  display: flex;
  justify-content: space-evenly;
  width: 98%;
  margin-top: 17px;
}

main .box-line3 {
  display: flex;
  justify-content: space-evenly;
  width: 98%;
  margin-top: 17px;
}

footer .box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 86px;
  width: 100%;
  height: 126px;
}

footer .redes-sociais {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}

footer .box-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  word-wrap: break-word;
}

footer .copyright p {
  width: 60%;
  margin-left: 50px;
  font-weight: 300;
}

footer .copyright a {
  color: black;
}

footer .copyright .up {
  display: none;
}

/*@medias*/

@media (max-width: 1800px) {
  main {
    width: 100%;
  }

  main .box-line1 {
    flex-wrap: wrap;
    width: 60%;
    margin-top: 0px;
  }

  main .box-line2 {
    flex-wrap: wrap;
    width: 60%;
    margin-top: 0px;
  }

  main .box-line3 {
    flex-wrap: wrap;
    width: 60%;
    margin-top: 0px;
  }

  main figure {
    padding-bottom: 17px;
  }

  footer .box {
    top: 30px;
  }

  footer .copyright p {
    width: 50%;
  }
}

@media (max-width: 1680px) {
  header h2 {
    top: 350px;
    left: 5%;
    font-size: 4em;
  }

  header button {
    top: 460px;
    left: 5%;
    font-size: 1.8em;
  }

  footer .box {
    justify-content: center;
  }

  footer .redes-sociais {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
  }

  footer .copyright {
    display: flex;
    align-items: center;
    width: 45%;
  }

  footer .copyright p {
    width: 50%;
    margin-left: 50px;
  }
}

@media (max-width: 1400px) {
  .box-line1,
  .box-line2,
  .box-line3 {
    flex-direction: column;
    width: 60%;
    height: initial;
    margin-bottom: initial;
    align-items: center;
  }

  header h2 {
    top: 350px;
    left: 5%;
    font-size: 4em;
    width: 40%;
  }

  header button {
    top: 620px;
    left: 5%;
    font-size: 1.8em;
  }

  footer .copyright {
    width: 40%;
  }
}

@media (max-width: 1260px) {
  header .box-top {
    height: 100px;
  }

  h1 {
    font-size: 2.2em;
  }

  header .list-menu {
    font-size: 0.9em;
  }

  header h2 {
    top: 360px;
    font-size: 4em;
  }

  header button {
    top: 630px;
    font-size: 1.4em;
  }

  footer .box {
    flex-direction: column;
    margin-left: 0px;
    margin-top: 20px;
  }

  footer .redes-sociais {
    width: 50%;
    margin-bottom: 20px;
    background-color: #7fdbd4;
    padding: 10px;
  }

  footer .redes-sociais img {
    width: 35px;
    height: 35px;
  }

  footer .copyright {
    justify-content: space-evenly;
    margin-bottom: 60px;
  }

  footer .copyright p {
    width: 70%;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 2em;
  }

  header nav {
    width: 50%;
  }

  header .list-menu {
    width: 100%;
    font-size: 1em;
  }

  header h2 {
    width: 50%;
    top: 400px;
    font-size: 3.7em;
  }

  header button {
    top: 650px;
    font-size: 1.4em;
  }
}

@media (max-width: 852px) {
  body {
    padding-top: 90px;
  }

  header .container {
    height: 90px;
  }

  h1 {
    font-size: 1.8em;
  }

  header nav {
    width: 60%;
  }

  header .list-menu {
    width: 100%;
    font-size: 0.8em;
  }

  header h2 {
    width: 40%;
    top: 420px;
    font-size: 3.5em;
  }

  header button {
    top: 650px;
    font-size: 1.3em;
  }

  main {
    margin-top: 50px;
  }

  footer {
    flex-direction: column;
    justify-content: space-evenly;
    top: 0px;
    height: 136px;
    padding-top: 32px;
  }

  footer .box {
    padding-bottom: 120px;
    padding-top: 80px;
  }

  footer .redes-sociais img {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  footer .copyright {
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }

  footer .box-copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
    flex-wrap: wrap;
  }

  footer .copyright p {
    margin-left: 0px;
    width: 100%;
  }

  footer .copyright .up {
    display: flex;
    background-color: #333333;
    padding: 5px 20px 5px 20px;
  }

  footer .copyright .up a {
    color: #707070;
    font-size: 1em;
    font-weight: 300;
    box-shadow: 5px #707070;
  }
}

@media (max-width: 790px) {
  footer .redes-sociais {
    width: 60%;
    align-items: center;
  }
  footer .copyright {
    width: 60%;
  }
}

@media (max-width: 628px) {
  header .box-top {
    height: 80px;
  }

  h1 {
    font-size: 1.5em;
  }

  header nav {
    width: 70%;
  }

  header .list-menu {
    width: 100%;
    font-size: 0.8em;
  }

  header .box-bottom {
    background-position-x: calc(75%);
  }

  main .box-line1 {
    width: 100%;
    align-items: center;
  }

  main .box-line2 {
    width: 100%;
    align-items: center;
  }

  main .box-line3 {
    width: 100%;
    align-items: center;
  }

  main .imgs {
    width: 16rem;
  }

  footer .box {
    padding-bottom: 90px;
    padding-top: 70px;
  }

  footer .redes-sociais {
    width: 53%;
  }

  footer .redes-sociais img {
    width: 30px;
    height: 30px;
  }

  footer .box-copyright h3,
  p {
    font-size: 0.9em;
  }
}

@media (max-width: 570px) {
  body {
    padding-top: 50px;
  }

  header .container {
    height: 50px;
  }

  header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
  }

  header .menu-hamburguer {
    width: 25px;
    height: 20px;
  }

  h1 {
    position: relative;
    right: 50px;
  }

  header nav {
    display: none;
  }

  header .box-bottom {
    background-position-x: calc(75%);
  }

  header h2 {
    font-size: 3.1em;
  }

  header button {
    top: 625px;
    font-size: 1.1em;
  }

  footer .redes-sociais {
    width: 60%;
  }

  footer .copyright {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .box-line1,
  .box-line2,
  .box-line3 {
    width: 100%;
    align-items: center;
  }

  footer .redes-sociais {
    width: 303px;
  }

  footer .redes-sociais img {
    width: 27px;
    height: 27px;
  }
  footer .copyright {
    width: 300px;
  }
}

@media (max-width: 450px) {
  body {
    padding-top: 40px;
  }

  header .container {
    height: 40px;
  }

  header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
  }

  header .menu-hamburguer {
    width: 20px;
    height: 18px;
  }

  h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 375px) {
  header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111px;
    height: 40px;
  }

  header .menu-hamburguer {
    width: 18px;
    height: 12px;
  }

  h1 {
    font-size: 1.1em;
    right: 55px;
  }
}
